p{font-family: Arial,Verdana, sans-serif;}
/*p{font-family: Times ,Times New Roman , sans-serif;} */
/*p{font-family: Times ,Times New Roman , sans-serif:40px; (define tamanho da fonte. */
/* *{font-size:100%} */
/*p{font-family: Times ,Times New Roman , sans-serif;fonte-size:1em;12m e igual a 16px} */
